* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header{
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
  height: 400px;
}

h1{
  padding: 20px;
  color: lightslategray;
}

main{
  width: 840px;
  margin: auto;
  padding: 50px 0;
}

div{
  border-bottom: 1px solid;
  border-color: grey;
  padding: 30px 0;
}

.top{
  padding-top: 0px;
  padding-bottom: 30px;
}

p{
  color: gray;
}

